<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/header") %>
  <body>
    <%- include ("partials/navbar") %>
    <div class="container text-center">
      <img
        src="https://image.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-1932.jpg"
        alt="404-image"
        class="img-fluid"
      /><br />
      <a class="small text-muted" href="https://www.freepik.com/vectors/people"
        >Illustration from www.freepik.com</a
      >
      <h1 class="my-5">404: Not found</h1>
      <p class="text-muted">We don't think you will find it in here.</p>
      <a href="/" class="btn btn-primary text-center"
        ><i class="bi bi-arrow-left"></i> Might as well leave</a
      >
    </div>
  </body>
</html>
