<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/header") %>
  <body>
    <h1>Success</h1>
    <a
      href="<%= {`/Users/chewhx/github/project-audio-articles/downloads/${filePath}`} %>"
      download="audio-file"
    >
      <button>Download</button>
    </a>
    <p><%= filePath %></p>
    <a href="http://localhost:5000">Go back</a>
  </body>
</html>
