<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/header") %>
  <body style="min-height: 130vh">
    <%- include ("partials/navbar") %>
    <div class="container py-4">
      <% var loading = false %>
      <div class="text-center">
        <img
          class="rounded-circle w-25"
          src="/static/images/icons/brand.png"
          alt="brand-logo"
        />

        <p class="display-3">One Listen</p>
        <h3>Convert web articles to mp3.</h3>
      </div>
      <div class="card mx-auto my-5" style="width: 23rem">
        <div class="card-body">
          <h4 class="card-title">
            Create an account to save and load your audio files.
          </h4>
          <a class="btn btn-danger btn-block my-5" href="/auth/google">
            <span><i class="bi bi-google mr-3"></i></span> Sign in with Google
          </a>
          <small
            >Note: The application will be requesting for profile information
            (name, email, googleId) and access to read and write files to your
            Google Drive.</small
          >
        </div>
      </div>
    </div>
  </body>
  <%- include ("partials/footer") %>
</html>
