<footer
  class="bg-light py-5 text-center"
  style="left: 0; bottom: 0; width: 100%; text-align: center"
>
  <strong>Created by <a href="https://github.com/chewhx"> @chewhx </a></strong>
  <p class="small">Source</p>
</footer>
